.header {
    margin-bottom: 150px;
    background-color: rgb(40, 75, 39);
}

body {
    background-color: rgb(80, 142, 105);
}

.form {
    text-align: center;
    margin-top: 140px;
}

.kereses {
    text-align: right;
    padding-right: 70px;
    margin-left: 750px;
}

.footer{
    margin-bottom: 150px;
    background-color: rgb(23, 36, 20);
}
/*html{
    background-color: green;
}
*/
